* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: monospace, arial, sans-serif;
    text-align: center;
    background: linear-gradient(-45deg, #000, #000, #1c96fa, #000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    overflow: hidden;
    width: 100%;
}